### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
src/antlr-4.11.1-complete.jar
src/Template.interp
src/Template.tokens
src/TemplateBaseListener.java
src/TemplateLexer.interp
src/TemplateLexer.java
src/TemplateLexer.tokens
src/TemplateListener.java
src/TemplateParser.java
